<%= render 'shared/dashboard_nav' %>

<div class="container">
	<% if manager? %>
		<%= render 'dashboards/manager_dashboard' %>
	<% elsif developer? %>
		<%= render 'dashboards/developer_dashboard' %>
	<% elsif qa? %>
		<%= render 'dashboards/qa_dashboard' %>
	<% end %>
</div>
